/* #basicDisplay{
    text-align: center
} */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.topnav {
    background-color: #333333;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 5em;
    width: 100%
}
#status{
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px
}
#usersName{
    /* // padding-left: 90%; // */
    /* position: relative; */
    /* left: 74%; */
    /* top: -68px; */
    overflow: hidden;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    text-align: right;
 } 
#usersNameText {
    color: white;
    /* // padding-left: 80px;
    padding-top: -15px; // */
    /* text-align: left; */
    /* overflow: hidden; */
    font-size: 1.5rem;
    /* height: auto; */
    line-height: normal;
    /* position: absolute; */
    text-align: right;
    right: 0px;
    left: 0px;
    top: 0px;
    float: right;
} 
#avatarImg{
    padding-top: 12px;
    /* padding-left: 0;  */
    /* left: 600px; */
    position: relative;
    /* left: 65%; */
}
#avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: right 100px top;
    position: relative;
}


#albumCover{
    padding-left: 15%;
    overflow: hidden;
}
#songInfo{
    padding-left: 60%;
    /* padding-right: 20px; */
    padding-top: 13px;
    padding-right: 7%;
    position: relative;
    text-align: center;
    top: -310px;
}
#nowPlaying {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}
/* #by{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
} */
#artist{
    /* margin-top: 0.5em; */
    font-size: 1.5rem;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
#explicit{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
#songRunTime{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
#currentTime{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
#blockingStatus{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sticky{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
#programName{
    position: relative;
    /* top: -151px; */
    /* width: 200px; */
    /* overflow: hidden; */
    bottom: 60px;
    text-align: left;
   
}
#programNameText{
    color: white;
    /* text-align: center; */
    /* overflow: hidden; */
    font-size: 30px;

    margin-bottom: 0px;
    margin-top: 0px;
    top: 17px;
    left: 30px;
    position: relative;
    width: fit-content;
}
#buttonControls {
    text-align: center;
    left: 50px;
    position: fixed;
    top: 485px;
    width: 800px;
    margin: 0;
}
#toggleAdBlock{
    margin-left: 0px;
    margin-right: 50px;
}
#toggleSticky{
    margin-left: 50px;
}
#bottomSection{
    width: 800px;
    margin: 0;
    overflow: hidden;
}
#errorMsg{
    font-size: large;
    text-align: center;
}
#errorDiv{
    position: fixed;
    /* bottom: 185px; */
    /* text-align: center; */
    right:20.8205px;
    top: 510px;
}
/* body {
    background: rgba(250, 172, 25, 0.5)
} */
/* #by {
    margin-top: 0;
    margin-bottom: 0;
} */
/* #artist{
    padding-left: 60%;
    position: relative;
    text-align: center;
    top: -300px;
} */
/* *{
    margin: 0%;
} */
  